.my-custom-feature {
    position: fixed;
    bottom: 0px;
    left: 10px;
    height: 420px;
    z-index: 2019;
}

.my-custom-feature .show-btn {
    height: 20px;
    width: 70px;
}

.my-custom-feature .dialog {
    background-color: #fff;
    border-radius: 5px;
    bottom: 10px;
    box-shadow: 0 0 5px #000;
    height: 400px;
    width: 500px;
}

.my-custom-feature .dialog .textarea {
    border: none;
    height: calc(100% - 40px);
    outline: none;
    resize: none;
    width: 100%;
}

.my-custom-feature .dialog .cancel-btn {
    height: 30px;
    width: 100%;
}

.hidden {
    display: none;
}